<% @user.pets.each do |pet| %>
<div class="spinner-border text-secondary" role="status">
  <span class="sr-only">Loading...</span>
<%= image_tag(pet.img_url, size: "50x100") %>
</div><br><br><br><br><br>
<%end%>
