<% @user.pets.each do |pet| %>
   <div class="spinner-border text-secondary" role="status">
     <span class="sr-only">Loading...</span>
     <%= image_tag(pet.img_url, size: "50x100") %>
   </div><br><br><br><br><br>
<% end %>

<% if @user.pets.empty? %>
  You need to adopt some pets to have a dance party!
  <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fpeopledotcom.files.wordpress.com%2F2018%2F05%2F21042210_264995290674140_8840525631411191808_n.jpg%3Fw%3D1800&w=450&c=sc&poi=face&q=85" alt="Sad Kitty">
<% end %>
