<h1>All Pets</h1>

<form method="GET" action="<%= pets_path %>" >
  <input name='search'>
  <input type='submit' value='search'>
</form>


  <ul>
    <%@pets.each do |pet|%>
      <li><%= link_to(pet.name, pet_path(pet))%></li>
    <%end%>
  </ul>
<h2><%=link_to("List a New Pet", new_pet_path)%></h2>
