<body class="container newhome">
<br><br><br>
<div class="row">
  <div class="col-sm-6">
    <div class="card text-center bg-transparent">
      <div class="card-body">
        <h5 class="card-title">Petlanta Paws</h5>
        <p class="card-text">We serve about 5,000 animals each year and places them into forever homes.</p>
        <a href="/pets" class="btn btn-primary">See Pets</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card text-center bg-transparent">
      <div class="card-body">
        <h5 class="card-title">Building a pet adoption community</h5>
        <p class="card-text">Petlanta is the leading organization in creating positive and inclusive pet adoption communities</p>
        <a href="/adoptions/new" class="btn btn-primary">Adopt</a>
      </div>
    </div>
  </div>
</div>
<br><br><br><br><br><br>
<footer class="homefoot">
  <div class="container">
    <%= image_tag("paw logo.png")%>
    <span class="text-muted">Content by |GIT LIT|42219| 1-800-ADOPT-A-PET  </span>
    <%= image_tag("gitlitlogo.png", class: "GL_logo") %>
  </div>
</footer>  

</body>
