


<h3><%= "Welcome #{@user.username.capitalize}! Glad to have you!"%></h3>



<label>Username:</label>
<%=@user.username%><br>

<label>Email:</label>
<%= @user.email%><br>

<h3><%= link_to("Lets find you a new friend!", pets_path)%></h3>
