<h3><%= "Welcome #{@user.username.capitalize}! Glad to have you!"%></h3>
  <div class="account-details">
    <ul>
      <li><label>Username:</label>
        <%=@user.username%><br></li>
      <li><label>Email:</label>
        <%= @user.email%><br></li>
    </ul>
  </div>



<form method="get" action= '/pets'>
    <button class="ui button" type="submit">Find a new friend?</button>
</form>


#experimenting with buttons ^^
