<body class="container adoptions">
<div class="container-fluid">
<br><h2>Ready to adopt? </h2>
</div>

<%= form_tag(adoptions_path) do %>
  <select name="adoption[pet_id]">
    <% Pet.all.sort_by(&:name).each do |pet| %>
      <% if pet.adoption.nil? %>
        <option value="<%= pet.id %>"><%= pet.name %></option>
      <% end %>
    <% end %>
  </select><br>
  <input type="submit" value="Adopt!">
<% end %>


</div>
</body>