<div class="container-fluid">
<br><br><h1>You want to adopt? Fantastic!</h1>
</div>

<%= form_tag(adoptions_path) do %>
  <select name="adoption[pet_id]">
    <% Pet.all.sort_by(&:name).each do |pet| %>
      <% if pet.adoption.nil? %>
        <option value="<%= pet.id %>"><%= pet.name %></option>
      <% end %>
    <% end %>
  </select>
  <input type="submit" value="Adopt!">
<% end %>


<div class="container-fluid">
<label>This could be you!</label><br>
<img src="https://media0.giphy.com/media/lHsCS3IickU7e/giphy.gif?cid=790b76115ceea2cf654566665921e771&rid=giphy.gif">

</div>