<div class="alert alert-primary" role="alert">
<h1>Petlanta Paws Adoption Successfully Completed</h1>
</div>
<div class="container-fluid">
<h4>
  Congratulations <%= @adoption.user.username.capitalize %>! You have adopted <%= @adoption.pet.name %>.
</h4>

<h4> <%= @adoption.pet.name %> is very excited for his/her new home! </h4>
<%= image_tag(@adoption.pet.img_url, size: "650x900") %><br>
</div>
